body {
  padding: 20px;
  text-align: center;
}

#main-header {
  padding-top: 20px;
  font-family: "Comic Sans MS";
  font-size: 40px;
}

#nav-button {
  padding: 8px;
  top: 0;
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: white;
}

#dog-button {
  background-color: white;
  border: none;
  font-size: 30px;
}

#info-table {
  vertical-align: middle;
  width: 960px;
}

* {
  /*border: 1px solid black;*/
}

#container {
  width: 960px;
  margin: auto;
}

#desc {
  line-height: 140%;
}

#pup {
  width: 500px;
  border-radius: 10px;
}
